# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\myGithub\multi-relation-QA-over-KG\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
